{%extends "layout.html" %}

{% block content %}
  <div class="row">
    <div class="span12">
      This is not a web site. 

      <form:iferror name="data">
        <div class="alert">You haven't submitted any table data.</div>
        </form:iferror>

      <form action="/" method="POST">
        <textarea class="span12" name="data" rows="20"></textarea>
        <input name="description" class="span12 xlarge">
        <select name="format">
          {% for (k, v) in parsers %}
            <option value="{{k}}">{{v}}</option>
          {% endfor %}
        </select>
        <button type="submit" class="btn">Create paste</button>
      </form>
    </div>
  </div>
{% endblock %}

