
body, label {
    font-family: 'OpenSansRegular', Helvetica, sans-serif;
    font-size: 17px;
}

h1, table th, strong {
    font-weight: normal;
    font-family: 'OpenSansBold', Helvetica, sans-serif;
}

h1 small {
    font-family: 'OpenSansRegular', Helvetica, sans-serif;
}

h1 .title, a {
    color: #CF19B9;
}

a:hover {
    text-decoration: none;
}

.toplink {
    padding: 1.6em 0 0 0;
}

.hidden {
    display: none;
}

.claim {
    font-size: 1.3em;
    line-height: 1.5em;
    color: #666;
}

textarea {
    font-size: 14px;
    font-family: monospace;
}

.airlock {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    padding: 1em 0 2em 0;
}

.tablewrap {
    width: 100%;
    overflow: auto;
}

table, table th, table td {
    font-size: 14px;
}

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
    background-color: #fff;
}

footer {
    padding: 2em 0 2em 0;
}

footer ul {
    list-style-type: none;
    float: right;
}

footer ul li {
    display: inline-block;
}